
<button class="@CssClass" @onclick="ValidPayment"> Payer avec CryptoCoin</button>

@code {
    [Parameter] public string CssClass { get; set; } 
    [Parameter] public string OrderNumber { get; set; } 
    [Parameter] public decimal Price { get; set; }
    [Parameter] public CryptoPaymentModel CryptoConfig { get; set; }
    [Parameter] public EventCallback BeforeCallPayment { get; set; }
    [Parameter] public List<Tuple<string, decimal>> Items { get; set; }
}
