<footer class="footer hidden-mobile" style=" bottom: 0px; position: absolute;filter: blur(20px)">
    <div class="container">
        <img width="120" src="/assets/img/connexion/smartclik_logo.png" /><br />
        <span style="font-size:12px;">Copyright © smart-clik 2021 - All rights reserved</span>
    </div>
</footer>