
<section class="container-fluid">
    <div class="login-brand" style="height:60px;background: #81d694;filter: blur(10px)">

    </div>
    <button hidden type="button" id="open-modal" class="btn btn-primary" data-toggle="modal" data-target="#modal-confirm">
    </button>
</section>