@page
@model ConfirmEmailModel
@inject IStringLocalizer<ConfirmEmailModel> localizer
@inject IHtmlLocalizer<ConfirmEmailModel> htmlLocalizer
@{
    Layout = "~/Areas/Identity/Pages/_LayoutBlur.cshtml"; ;
    ViewData["Title"] = htmlLocalizer["TitlePage"];
}

<div class="modal-body">
    <p>
        @localizer["StepTitle"].
    </p>
    <div>
        @if (Model.Success)
        {
            <span>@localizer["SuccessMessage"]</span> 
            <form method="post">
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                <button class="btn btn-primary" type="submit">@localizer["Login"]</button>
            </form>
        }
    </div>
</div> 