@page
@inject IStringLocalizer<RegisterModel> localizer
@inject IHtmlLocalizer<RegisterModel> htmlLocalizer
@model RegisterConfirmationModel
@{
    Layout = "~/Areas/Identity/Pages/_LayoutBlur.cshtml"; ;
    ViewData["Title"] = localizer["RegisterConfirmationTitle"];
}

<div class="modal-body">
    <p>
        @htmlLocalizer["SendEmail"] @Model.Email
    </p>
    <span>
        @htmlLocalizer["Thanks"]
    </span>
    <div class="justify-content-center">
        <a href="Login" title="valid" class="btn btn-success text-uppercase">  @htmlLocalizer["Validate"]</a>
    </div>
</div> 