@page
@model ResetPasswordConfirmationModel
@{
    Layout = "~/Areas/Identity/Pages/_LayoutBlur.cshtml";
    ViewData["Title"] = "Reset password confirmation";
}

<div class="modal-body">
    <p>@ViewData["Title"]</p>
    <div>
        Your password has been reset. Please <a href="Login" title="Login">click here to log in</a>.
    </div> 
</div> 