 
@media (max-width: 767px) { 
    .contact-list {
        bottom: 0px;
        position: fixed;
        z-index: 99999999999;
        width: 100vw; 
    }
    .tchat {
        bottom: 0px;
        position: fixed;
        z-index: 99999999999;
        width: 100vw;
        height: 530px;
    }
    .cursor-left {
        top: 185px;
        left: 27px;
        cursor: pointer;
        z-index: 999;
    }
    .cursor-right {
        top: 185px;
        right: 27px;
        cursor: pointer;
        z-index: 999;
    }
    .cursor-left img, .cursor-right img {
        width:50px
    }
}

@media (min-width: 768px) { 
    .contact-list {
        bottom: 5px;
        position: fixed;
        right: 5px;
        z-index: 99999999999;
        width: 350px;
    }
    .tchat {
        bottom: 5px;
        position: fixed;
        right: 5px;
        z-index: 99999999999;
        width: 350px;
    }
    .cursor-left {
        top: 165px;
        left: 40px;
        cursor: pointer;
        z-index: 999;
    }

    .cursor-right {
        top: 165px;
        right: 40px;
        cursor: pointer;
        z-index: 999;
    }

    .cursor-left img, .cursor-right img {
        width: 100px
    }
}


.chat-message, chat-contact {
    margin-top: auto; 
} 

.contact-list .card, .tchat .card {
    padding: 15px 0px 0px 0px; 
    padding-top: 10px;
    height: 500px; 
    background-color: #02BF8A !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    padding: 15px 25px 0px 25px;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}
.msg_cotainer{
    line-height:16px;
    font-weight:300;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
}

    .search:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.type_msg {
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 100% !important;
    overflow-y: auto;
}

    .type_msg:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.attach_btn {
    height:100% !important;
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
    height:100% !important;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

    .contacts li {
        cursor: pointer;
        width: 100% !important;
        padding: 5px 10px 0px 5px;
    }
        .contacts li:hover {
            background: rgba(0,0,0,0.3);
        }
 

.user_img {
    height: 50px;
    width: 50px;
}

.user_img_msg {
    height: 40px;
    width: 40px;
}

.img_cont {
    position: relative;
    height: 50px;
    width: 50px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0;
    right: 0;
}
.offline_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

    .user_info span {
        font-size: 20px;
        color: white;
    }

    .user_info p {
        font-size: 10px;
        color: rgba(255,255,255,0.6);
    }

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

    .video_cam span {
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
    }

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    width: 100px;
    bottom: -18px;
    color: white;
    font-size: 10px;
}

.msg_time_send {
    width: 100px;
    position: absolute;
    right: 0;
    bottom: -16px;
    color: white;
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 0px;
    top: -8px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

    .action_menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .action_menu ul li {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 5px;
        }

            .action_menu ul li i {
                padding-right: 10px;
            }

            .action_menu ul li:hover {
                cursor: pointer;
                background-color: rgba(0,0,0,0.2);
            }


.contacts_body::-webkit-scrollbar-track,
.msg_card_body::-webkit-scrollbar-track,
.type_msg::-webkit-scrollbar-track,
.tchat-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;
}

.contacts_body::-webkit-scrollbar,
.msg_card_body::-webkit-scrollbar,
.type_msg::-webkit-scrollbar,
.tchat-body::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.contacts_body::-webkit-scrollbar-thumb,
.msg_card_body::-webkit-scrollbar-thumb,
.type_msg::-webkit-scrollbar-thumb,
.tchat-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: white;
}
.search::placeholder, .type_msg::placeholder {
    color: white;
    font-size: 1em;
}
.input-group-text, .form-control:not(.form-control-sm):not(.form-control-lg) {
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    height: 60px;
    background: #F5F8FA;
    text-align: center;
    border-radius: 0;
    border: white;
}

.tchat .form-control {
    padding: 10px 3px 9px 0 !important;
}
.close-contact, .close-chat {
    position: absolute;
    right: 15px;
    top: -32px;
    padding: 6px 15px 7px 15px;
    border-radius: 10px 10px 0 0;
    background: #02BF8A;
    border: 1px solid #02BF8A;
}

.new-msg-menu {
    display: block;
    background: yellow;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px yellow solid;
    animation: pulse 2s infinite;
    position: absolute;
    left: 55px;
}
.new-msg {
    display: block;
    background: yellow;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px yellow solid;
    animation: pulse 2s infinite;
    position: absolute;
    left: 40px;
    top: 6px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
    }
    25% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0.6);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
    }
}