 <!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/fontawesome/css/all.css" rel="stylesheet" />
    <link href="/css/app.css" rel="stylesheet" /> 
    <link href="/css/components.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <partial name="_HeaderBlur" />
        <partial name="_FooterBlur" />
    </div>
    <!-- Vertically centered modal -->
    <div class="modal fade" id="modal-confirm" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius:20px;">
                <div class="login-brand ">
                    <div class="close-modal hidden-lg " style="position: absolute;right:0;top:-14px;cursor:pointer;"> 
                        <i style="color:#02BF8A;font-size:28px;" class="fas fa-times-circle"></i>
                    </div>
                    <div class="" style="background-image:url('/assets/img/connexion/bg_intro.svg');height:70px;"></div>
                    <img src="/assets/img/connexion/smartclik_logo.png">
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

    <partial name="_ScriptImport" />

    <!-- General JS Scripts -->
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $('#open-modal').click();

        $(".close-modal").click(function () {
            window.location = "/";
        })
    </script>
</body>
</html>