@code
{
    [Parameter]
    public string CatchPhrase { get; set; }
}
    <div class="p-1">
        <a href="/Purchase" class="btn btn-success"><i class="fas fa-plus-circle"></i>@CatchPhrase</a>
    </div>