@inject Microsoft.Extensions.Localization.IStringLocalizer<AddContactDialog> Loc

@code
{
    [Parameter]
    public ClaimsPrincipal User { get; set; }

    [Parameter]
    public EventCallback Close { get; set; }

    [Parameter]
    public EventCallback<string> Navigate { get; set; }

    async Task GotoContact()
    {
        await Navigate.InvokeAsync("/contact/list");
    }
}

<div class="card">
    <div class="card-body text-center">
        <img src="assets/img/trophy.png">
        <h4>@Loc["Title"]!</h4>
        <p>@Loc["CatchPhrase"]</p> 
        <button class="btn btn-primary" @onclick="Close">@Loc["Continue"]</button>
        <br />
        <a class="cursor-pointer" @onclick="GotoContact">@Loc["Contact"]</a>
    </div>
</div>