@inject Microsoft.Extensions.Localization.IStringLocalizer<WelcomeDialog> Loc

@code
{
    [Parameter]
    public ClaimsPrincipal User { get; set; }

    [Parameter]
    public EventCallback Close { get; set; }

    [Parameter]
    public EventCallback<string> Navigate { get; set; }

    [Parameter]
    public Notification Notification { get; set; }

    async Task GotoSubscribe()
    {
        await Navigate.InvokeAsync("subscription-pack");
    }
}

<div class="card">
    <div class="card-body text-center">
        <img src="assets/img/trophy.png">
        <h4>@Loc["Title"]!</h4>
        <p>@Loc["CatchPhrase"]</p><br />
        <a @onclick="GotoSubscribe">@Loc["Subscription"]</a>
    </div>
</div>