@page "/Section/Page"
@using System.Net.Http

@inject NavigationManager Navigation
@inject Microsoft.Extensions.Localization.IStringLocalizer<TemplatePage> Loc
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
 
<section class="section">
    <div class="mt-4">
        <label style="font-size: 30px; font-weight: 600; color: black;" class="">@Loc["Title"]</label>
    </div>
    <div class="section-header p-0">
        [HeaderStep]
    </div>
    <div class="section-body">
        [Step]
    </div>
</section>