@page "/ConfirmPayment/{state}"

@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject IHttpClientFactory HttpClientFactory
@if (state == "Success")
{
    <h3>Le paiement s'est déroulé.</h3>
}
else
{
    <h1>une erreur</h1>
}
@code{
    [Parameter] public string state { get; set; }

}