@page "/ConfirmPayment/{state}"

@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject IHttpClientFactory HttpClientFactory
@if (state == "Success")
{
    <h3>Transfère réussi.</h3>
}
else
{
    <h1>ERROR</h1>
}
@code{
    [Parameter] public string state { get; set; }

}