@page "/Profile"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Users> Loc

@code
{
    public bool ModalQrCodeVisible { get; set; }

    public void ToggleModal()
    {
        ModalQrCodeVisible = !ModalQrCodeVisible;
    }
}
<section class="section">
    <div class="section-header">
        <h1>My profile</h1>
    </div>
    <div class="section-body">
        <div class="card author-box card-primary">
            <div class="card-body">
                <div class="author-box-left">
                    <img alt="image" src="../assets/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                    <div class="clearfix"></div>
                    <a href="/ProfileEdit" class="btn btn-primary mt-3 follow-btn">Edit profile</a>

                </div>
                <div class="author-box-details">
                    <img alt="qrcode" src="/api/QrCodeGenerator?link=test" style="width: 100px" @onclick="ToggleModal" />
                    <div class="author-box-name">
                        <a href="#" class="mr-3">Hasan Basri</a>

                    </div>
                    <div class="author-box-job">Web Developer</div>

                    <div class="author-box-description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                    <div class="mb-2 mt-3">
                        <div class="text-small font-weight-bold">Hasan Social Network</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <img alt="image" src="assets/img/social/mail.png" class="rounded-circle profile-widget-picture">
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">hassan.basrni@gmail.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <img alt="image" src="assets/img/social/phone.png" class="rounded-circle profile-widget-picture">
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">+33 624796927</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <img alt="image" src="assets/img/social/facebook.png" class="rounded-circle profile-widget-picture">
                                    @*<div class="profile-widget-items">
                                            <div class="profile-widget-item">
                                                <div class="profile-widget-item-label">Followers</div>
                                                <div class="profile-widget-item-value">6,8K</div>
                                            </div>
                                            <div class="profile-widget-item">
                                                <div class="profile-widget-item-label">Following</div>
                                                <div class="profile-widget-item-value">2,1K</div>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">https://facebook.com/hassa.basrni</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <img alt="image" src="assets/img/social/twitter.png" class="rounded-circle profile-widget-picture">
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name"> @@Hassan.Basri</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <img alt="image" src="assets/img/social/instagram.png" class="rounded-circle profile-widget-picture">
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">@@Hassan.Basri</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <img alt="image" src="assets/img/social/whatsapp.png" class="rounded-circle profile-widget-picture">
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">+33624796927</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <img alt="image" src="assets/img/social/linkedin.png" class="rounded-circle profile-widget-picture">
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name"><a href="https://www.linkedin.com/in/hassanbasri">https://www.linkedin.com/in/hassanbasri</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (ModalQrCodeVisible)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Profile QR Code</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="ToggleModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img alt="qrcode" src="/api/QrCodeGenerator?link=test" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
}
