@page "/ViewProfile/{ProfileId}"
@inject Microsoft.Extensions.Localization.IStringLocalizer<EditProfile> Loc
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Navigation
@inject Abeer.Client.UISdk.NavigationUrlService NavigationUrlService
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject HttpClient HttpClient
@using System.Security.Claims;

@code
{
    public ClaimsPrincipal User { get; set; }

    [Parameter]
    public string ProfileId { get; set; }

    public ViewApplicationUser UserProfile { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override Task OnInitializedAsync()
    {
        NavigationUrlService.ProfileUrl = Navigation.ToAbsoluteUri("/profile/Edit").ToString();
        return base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationStateTask;

        User = authState.User;

        if (User.Identity.IsAuthenticated)
        {
            if (string.IsNullOrEmpty(ProfileId))
            {
                ProfileId = User.FindFirstValue(ClaimTypes.NameIdentifier);
            }

            var httpClient = HttpClientFactory.CreateClient(Configuration["Service:Api:AnonymousApiName"]);

            await httpClient.PostAsJsonAsync<EventTrackingItem>("api/EventTracker", new EventTrackingItem
            {
                Category = "Navigation",
                Key = "ViewProfile",
                CreatedDate = DateTime.UtcNow,
                Id = Guid.NewGuid(), UserId = User.FindFirstValue(ClaimTypes.NameIdentifier)
            });

        }

        if (!string.IsNullOrEmpty(ProfileId))
        {
            var httpClient = HttpClientFactory.CreateClient(Configuration["Service:Api:AnonymousApiName"]);

            var getProfile = await httpClient.GetAsync($"/api/viewProfile/{ProfileId}");

            if (getProfile.StatusCode == System.Net.HttpStatusCode.NotFound)
                Navigation.NavigateTo(Navigation.ToAbsoluteUri($"/Identity/Account/Register?PinCode={ProfileId}").ToString(), true);

            getProfile.EnsureSuccessStatusCode();
            var json = await getProfile.Content.ReadAsStringAsync();
            UserProfile = Newtonsoft.Json.JsonConvert.DeserializeObject<ViewApplicationUser>(json);

            NavigationUrlService.SetUrls($"https://www.google.com/maps/search/?api=1&query={UserProfile.Address},{UserProfile.City}%20{UserProfile.Country}&query_place_id={UserProfile.DisplayName}",
                Navigation.ToAbsoluteUri($"/contact/import/{UserProfile.Id}").ToString());

            await InvokeAsync(StateHasChanged);
        }

        NavigationUrlService.ShowImport = true;

        if (User.Identity.IsAuthenticated)
        {
            NavigationUrlService.ShowContacts = true;
            NavigationUrlService.ShowMyAds = true;

            if (User.FindFirstValue(ClaimTypes.NameIdentifier).Equals(UserProfile.Id))
            {
                NavigationUrlService.ShowImport = false;
                NavigationUrlService.ShowEditProfile = true;
            }
        }

        await base.OnParametersSetAsync();
    }
}

@if (UserProfile != null)
{
    <UserProfileControl User="UserProfile" ReadOnly="true"
                        ProfileUrl="@Navigation.ToAbsoluteUri($"/ViewProfile/{UserProfile.Id}").ToString()">
    </UserProfileControl>
}
else
{
    <span>loading...</span>
}