@page "/ViewProfile/{ProfileId}"
@inject Microsoft.Extensions.Localization.IStringLocalizer<EditProfile> Loc
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Navigation
@inject Abeer.Client.UISdk.NavigationUrlService NavigationUrlService
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject HttpClient HttpClient
@using System.Security.Claims;

@code
{
   
}

@if (UserProfile != null)
{
    <UserProfileControl User="UserProfile" ReadOnly="true"
                        ProfileUrl="@Navigation.ToAbsoluteUri($"/ViewProfile/{UserProfile.Id}").ToString()" IsAuthenticated="@User.Identity.IsAuthenticated" ProfileId="@ProfileId">
    </UserProfileControl>
}
else
{
    <span>loading...</span>
}