@namespace Abeer.Client
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService
@code
{
    [Parameter]
    public string LabelCardType { get; set; }
    [Parameter]
    public string LabelCardQuantity { get; set; }
}
<div class="simple-form">
    <EditForm Model="Card">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <fieldset>
            <div class="form-group">
                <label>@LabelCardType</label>
                <input type="text" @bind="@Card.CardType" class="form-control" />
            </div>
            <div class="form-group">
                <label>@LabelCardQuantity</label>
                <input type="number" @bind="@Card.Quantity" class="form-control" />
            </div>
        </fieldset>
    </EditForm>
</div>