@typeparam TItem
@code
{
    [Parameter]
    public EventCallback<TItem> DisplayChildren { get; set; }

    [Parameter]
    public TItem Item { get; set; }

    [Parameter]
    public int Count { get; set; }
}

<button type="button" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="children" @onclick="@(async ()=>await DisplayChildren.InvokeAsync(Item))">
    <i class="fas fa-folder-open"></i>
    @Count
</button>