@typeparam TItem
@if (IsEditable)
{
    <button type="button" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" @onclick="EditButtonClicked">
        <i class="fas fa-edit"></i>
    </button>
}