@namespace Abeer.Client.Shared

@using System.Security.Claims
@inject Microsoft.Extensions.Localization.IStringLocalizer<NavMenu> Loc
@inject NavigationManager Navigation

@code
{ 
    protected ClaimsPrincipal _user;

    private bool ShowActivityDialog = false;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    public string LabelUserList { get; set; }

    [Parameter]
    public string LabelContacts { get; set; }

    [Parameter]
    public string LabelDashboard { get; set; }

    [Parameter]
    public string LabelMyAccount { get; set; }

    [Parameter]
    public string LabelLogout { get; set; }

    public string PhotoUrl { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var authState = await authenticationStateTask;

        _user = authState.User;
        PhotoUrl = _user.FindFirstValue("photoUrl") ?? _user.Identity.GravatarUrl();
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    void Logout()
    {
        Navigation.NavigateTo(Navigation.ToAbsoluteUri("Identity/account/logout?returnUrl=/Profile").ToString(), true);
    }
}
@if (ShowActivityDialog)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog  modal-dialog-centered  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Activité</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@(()=>ShowActivityDialog = false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <Abeer.Client.Shared.NotificationDialogs.DailyReminderDialog User="_user" Close="@(()=>ShowActivityDialog = false)"></Abeer.Client.Shared.NotificationDialogs.DailyReminderDialog>
                </div>
            </div>
        </div>
    </div>

}
<div class="logo-menu">
    <a class="text-white" href="profile"><img src="assets/logo.svg" width="80" title="Meetag"></a>
</div>
<nav class="p-0 m-0 nav-menu">
    <div class="d-flex justify-content-around">
        <div class="hidden-sm mr-auto p-2 ">
            <a class="text-white" href="profile" style="font-size:20px;"><img src="assets/logo.svg" width="50" title="Meetag">Meetag</a>
        </div>
        <div class="p-2">
            <a href="profile" class="pr-2 text-center text-white">
                <div>
                    <img src="/assets/img/menu/Search.svg">
                </div>
                <span>Accueil</span>
            </a>
        </div>
        <div class="p-2">
            <a href="/ads/MyAds" class="pr-2 text-center text-white">
                <div>
                    <img src="/assets/img/menu/annonces.svg">
                </div>
                <span>Annonces</span>
            </a>
        </div>
        @if (_user?.Identity.IsAuthenticated == true)
        {
            <div class="p-2">
                <a href="javascript:void(0)" class="pr-2 text-center text-white" @onclick="@(()=>ShowActivityDialog=true)">
                    <div>
                        <img src="/assets/img/menu/satistique_white.svg" width="20px">
                    </div>
                    <span>Activités</span>
                </a>
            </div>
        }
        <div class="p-2 mr-lg-3">
            <a href="profile" class="text-center text-white">
                <div>
                    <img src="/assets/img/menu/Profile.svg">
                </div>
                <span>Profil</span>
            </a>
        </div>
    </div>
</nav> 