@namespace Abeer.Client.Shared

@using System.Security.Claims
@inject Microsoft.Extensions.Localization.IStringLocalizer<NavMenu> Loc
@inject NavigationManager Navigation
@inject Abeer.Client.UISdk.NavigationUrlService NavigationUrlService
@inject StateTchatContainer StateTchatContainer
@code
{
    protected ClaimsPrincipal _user;

    private bool ShowActivityDialog = false;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    public string LabelUserList { get; set; }

    [Parameter]
    public string LabelContacts { get; set; }

    [Parameter]
    public string LabelDashboard { get; set; }

    [Parameter]
    public string LabelMyAccount { get; set; }

    [Parameter]
    public string LabelLogout { get; set; }

    [Parameter] public EventCallback ModalClicked { get; set; }

    [Parameter] public NotificationClient NotifyClient { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var authState = await authenticationStateTask;
        _user = authState.User;

        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    void Logout()
    {
        Navigation.NavigateTo(Navigation.ToAbsoluteUri("Identity/account/logout?returnUrl=/Profile").ToString(), true);
    }

    void Navigate(string url)
    {
        Navigation.NavigateTo(url, true);
    }

    public async Task OpenModalTchatContact()
    {
        StateTchatContainer.SetModalChatContactOpen(!StateTchatContainer.ModalChatContactOpen);
        await InvokeAsync(StateHasChanged);
    }
}

<div class="logo-menu">
    <a class="text-white" href="profile"><img src="assets/logo.svg" width="80" title="Meetag"></a>
</div>
<nav class="p-0 m-0 nav-menu">
    <div class="d-flex justify-content-around mt-sm-1">
        <div class="hidden-sm mr-auto p-0 ">
            <a class="text-white" href="profile" style="font-size:20px;"><img src="assets/logo.svg" width="50" title="Meetag">Meetag</a>
        </div>
        <div class="p-2 font-size-sm-menu">
            <a href="/ads/list" class="pr-2 text-center text-white">
                <div>
                    <img src="/assets/img/menu/annonces.svg">
                </div>
                <span>Annonces</span>
            </a>
        </div>
        @if (_user?.Identity.IsAuthenticated == true)
        {
            <div class="p-2 font-size-sm-menu">
                <a href="/activities" class="pr-2 text-center text-white">
                    <div>
                        <img src="/assets/img/menu/satistique_white.svg" width="20">
                    </div>
                    <span>Activités</span>
                </a>
            </div>
            <div class="p-2 font-size-sm-menu" style="position:relative">
                @if (StateTchatContainer.MyContacts.Any(x => x.HasNewMsg))
                {
                    <div class="new-msg-menu"></div>
                }
                <a href="javascript:void(0)" class="pr-2 text-center text-white" @onclick="@(() => OpenModalTchatContact())">
                    <div>
                        <img src="/assets/img/menu/comments.svg">
                    </div>
                    <span>Messages</span>
                </a>
            </div>

        }
        @if (_user?.Identity.IsAuthenticated == false && !string.IsNullOrEmpty(NavigationUrlService.ProfileId))
        {
            <div class="p-2">
                <a href="/Identity/Account/LoginWithPinCode?PinDigit=@NavigationUrlService.ProfileId" class="pr-2 text-center text-white">
                    <div>
                        <img src="/assets/img/menu/nfc.svg" width="20">
                    </div>
                    <span>Connexion NFC</span>
                </a>
            </div>
        }
        <div class="p-2 mr-lg-3 font-size-sm-menu">
            <a href="profile" class="text-center text-white">
                <div>
                    <img src="/assets/img/menu/Profile.svg">
                </div>
                <span>Profil</span>
            </a>
        </div>
    </div>
</nav> 